.lead__caption {
  box-sizing: border-box;
  margin: 8px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    max-width: 320px;
    padding-left: 16px;
  }
}